

* {
    margin:0;
    padding:0px;
  }


  #calc input {
    width:60px;
    height:40px;
    margin:1px;
    font-size:15px;
  }
  .area {
    margin-left: 4px;
    width:170px;
    height:30px;
    padding:2px;
    text-align:right;
    font-size:20px
  }

  .custom {
    width: 40px !important;
}

.customa {
  margin: 2px !important;
}